{% load staticfiles mptt_tags  %}
<!DOCTYPE html>
<html  lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{% block head_title %} Path finder {%  endblock head_title %}</title>
        {% block head_extra %}{% endblock %}
    </head>

<!-- Add  CSS library -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- jQuery CDN -->
        <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>

<!-- Add additional CSS in static file -->
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
    <style>{% block style %}{% endblock style %}</style>
     <body>


       <div class="wrapper">
  <nav id="sidebar">
                <div class="sidebar-header">
                    <h3>Path finder</h3>
                </div>

                <ul class="list-unstyled components">
                    
                       <form action="/" method="get">
                   <div class="form-group">

                    {% csrf_token %}
                       <label class="">Industry</label>
                    <li  class="cat" > {{ form.category }} </li>
                       <label class="">Localisation</label>

                <li  class="cat" >    {{ form.location }} </li>
           <li  class="cat">
                <input type="submit" style="border-width: 1px; border-style: none; padding: 10px;margin-top: 10px;background: #fff; color: #7386D5;" value="Search" /> </li>
                                   </div>

            </form>



                </ul>

                <ul class="list-unstyled CTAs">



                </li>    <li><a href="https://github.com/pbboxx" class="download">Download source</a></li>
                    <li><a href="/" class="article">Back to the list</a></li>
                </ul>
            </nav>




        {% block content %}

        {% endblock content %}


</div>
        <!-- jQuery CDN -->
        <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
        <!-- Bootstrap Js CDN -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <!-- jQuery Custom Scroller CDN -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>

        <script type="text/javascript">
            $(document).ready(function () {
                $("#sidebar").mCustomScrollbar({
                    theme: "minimal"
                });

                $('#sidebarCollapse').on('click', function () {
                    $('#sidebar, #content').toggleClass('active');
                    $('.collapse.in').toggleClass('in');
                    $('a[aria-expanded=true]').attr('aria-expanded', 'false');
                });
            });
        </script>
    </body>

</html>
